<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        ADMIN
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link th:href="@{/css/material-dashboard.css}" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{/demo/demo.css}" rel="stylesheet"/>
    <!--    Link JS BOOTRAPs-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <style>
        .dark-edition .card {
            background: #f5f2f2;
            border: 1px solid #ccc;
            font-weight: bolder;
        }

        .dark-edition .sidebar .sidebar-background:after,
        .dark-edition .sidebar {
            background: black;

        }

        .fa-pen-to-square {
            font-size: 17px;
            margin-right: 10px;
            color: #ccc;
        }

        .fa-trash-can {
            font-size: 17px;
            color: #ccc;
        }

        .dark-edition .card .card-header-primary .card-icon, .dark-edition .card .card-header-primary .card-text, .dark-edition .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .dark-edition .card.bg-primary, .dark-edition .card.card-rotate.bg-primary .front, .dark-edition .card.card-rotate.bg-primary .back {

            background: linear-gradient(60deg, #288c6c, #4ea752);
        }

    </style>
</head>

<body class="dark-edition"
      th:style="'background-image: url('+@{/img/carousel-1.jpg}+');object-fit:cover'">
<div class="wrapper ">
    <div class="sidebar" data-color="green"
         data-background-color="black"
         th:data-image="@{/img/carousel-2.jpg}">


        <div class="logo"><a href="" class="simple-text logo-normal">
           ADMIN
        </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item  ">
                    <a class="nav-link" href="/admin/dashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/users">
                        <i class="material-icons">person</i>
                        <p>Table Users</p>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" href="/admin/products">
                        <i class="material-icons">content_paste</i>
                        <p>Table Products</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/order">
                        <i class="material-icons">content_paste</i>
                        <p>Table Order</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="/admin/addUser">
                        <i class="fa-solid fa-plus"></i> Add User</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <button type="submit" class="btn btn-default btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </form>
                    <ul class="navbar-nav" style="padding-left: 20px">
                        <div class="dropdown">
                            <i class="fa-solid fa-user-ninja" id="dropdownMenuButton1" data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                <li><a class="dropdown-item" th:href="@{/logout}">LOG OUT!!!</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">User Manager</h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <th>STT</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="u,loop:${list}">
                                            <td th:text="${loop.count}"></td>
                                            <td th:text="${u.firstName}"></td>
                                            <td th:text="${u.lastName}"></td>
                                            <td th:text="${u.username}"></td>
                                            <td th:text="${u.email}"></td>
                                            <td th:text="${u.address}"></td>
<!--                                            <td th:text="${u.phone}"></td>-->
<!--                                            <td th:text="${u.birthdate}"></td>-->
                                            <td>
                                                <th:block th:if="${u.roleId == 1}">ADMIN</th:block>
                                                <th:block th:unless="${u.roleId == 1}">USER</th:block>
                                            </td>
<!--                                            <td th:text="${u.status}"></td>-->
<!--                                            <td th:text="'$' + ${u.totalpurchase}" class="text-primary" style="text-align: center"></td>-->
                                            <td>
                                                <th:block th:if="${u.status == false}">
                                                    <a th:href="@{|/admin/lock/${u.id}|}" class="fa-solid fa-lock-open" style="color: green"></a>
                                                </th:block>
                                                <th:block th:unless="${u.status == false}">
                                                    <a th:href="@{|/admin/lock/${u.id}|}" class="fa-solid fa-lock" style="color: red"></a>
                                                </th:block>
                                            </td>
                                            <td>
                                                <a th:href="@{|/admin/updateUser/${u.id}|}">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                                <a th:href="@{|/admin/deleteUser/${u.id}|}">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="#">
                                ADMIN
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
<!--                <div class="copyright float-right" id="date">-->
<!--                    , made with <i class="material-icons">favorite</i> by-->
<!--                    <a href="#">PhanHoangHieu</a> for a better web.-->
<!--                </div>-->
            </div>
        </footer>
<!--        <script>-->
<!--            const x = new Date().getFullYear();-->
<!--            let date = document.getElementById('date');-->
<!--            date.innerHTML = '&copy; ' + x + date.innerHTML;-->
<!--        </script>-->
    </div>
</div>


<!--   Core JS Files   -->
<script th:src="@{/js/core/jquery.min.js}"></script>
<script th:src="@{/js/core/popper.min.js}"></script>
<script th:src="@{/js/core/bootstrap-material-design.min.js}"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<script th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script th:src="@{/js/plugins/chartist.min.js}"></script>
<!--  Notifications Plugin    -->
<script th:src="@{/js/plugins/bootstrap-notify.js}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script th:src="@{/js/material-dashboard.js}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/demo/demo.js}"></script>
<script>
    $(document).ready(function () {
        $().ready(function () {
            $sidebar = $('.sidebar');

            $sidebar_img_container = $sidebar.find('.sidebar-background');

            $full_page = $('.full-page');

            $sidebar_responsive = $('body > .navbar-collapse');

            window_width = $(window).width();

            $('.fixed-plugin a').click(function (event) {
                // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                if ($(this).hasClass('switch-trigger')) {
                    if (event.stopPropagation) {
                        event.stopPropagation();
                    } else if (window.event) {
                        window.event.cancelBubble = true;
                    }
                }
            });

            $('.fixed-plugin .active-color span').click(function () {
                $full_page_background = $('.full-page-background');

                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data-color', new_color);
                }

                if ($full_page.length != 0) {
                    $full_page.attr('filter-color', new_color);
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.attr('data-color', new_color);
                }
            });

            $('.fixed-plugin .background-color .badge').click(function () {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('background-color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data-background-color', new_color);
                }
            });

            $('.fixed-plugin .img-holder').click(function () {
                $full_page_background = $('.full-page-background');

                $(this).parent('li').siblings().removeClass('active');
                $(this).parent('li').addClass('active');


                var new_image = $(this).find("img").attr('src');

                if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                    $sidebar_img_container.fadeOut('fast', function () {
                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $sidebar_img_container.fadeIn('fast');
                    });
                }

                if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $full_page_background.fadeOut('fast', function () {
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                        $full_page_background.fadeIn('fast');
                    });
                }

                if ($('.switch-sidebar-image input:checked').length == 0) {
                    var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                    $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                }
            });

            $('.switch-sidebar-image input').change(function () {
                $full_page_background = $('.full-page-background');

                $input = $(this);

                if ($input.is(':checked')) {
                    if ($sidebar_img_container.length != 0) {
                        $sidebar_img_container.fadeIn('fast');
                        $sidebar.attr('data-image', '#');
                    }

                    if ($full_page_background.length != 0) {
                        $full_page_background.fadeIn('fast');
                        $full_page.attr('data-image', '#');
                    }

                    background_image = true;
                } else {
                    if ($sidebar_img_container.length != 0) {
                        $sidebar.removeAttr('data-image');
                        $sidebar_img_container.fadeOut('fast');
                    }

                    if ($full_page_background.length != 0) {
                        $full_page.removeAttr('data-image', '#');
                        $full_page_background.fadeOut('fast');
                    }

                    background_image = false;
                }
            });

            $('.switch-sidebar-mini input').change(function () {
                $body = $('body');

                $input = $(this);

                if (md.misc.sidebar_mini_active == true) {
                    $('body').removeClass('sidebar-mini');
                    md.misc.sidebar_mini_active = false;

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                } else {

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                    setTimeout(function () {
                        $('body').addClass('sidebar-mini');

                        md.misc.sidebar_mini_active = true;
                    }, 300);
                }

                // we simulate the window Resize so the charts will get updated in realtime.
                var simulateWindowResize = setInterval(function () {
                    window.dispatchEvent(new Event('resize'));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function () {
                    clearInterval(simulateWindowResize);
                }, 1000);

            });
        });
    });
</script>
</body>

</html>